{{#emitJSDoc}}  /**
   * Allowed values for the <code>{{classname}}</code> enumeration.
   * @readonly
   */{{/emitJSDoc}}
   
  exports.values = { {{#allowableValues}}
{{#emitJSDoc}}    /**
    * value: {{.}}
    * @const
    */
{{/emitJSDoc}}    {{.}}: "{{.}}"{{^-last}},
    {{/-last}}{{/allowableValues}}	
  };