package {{package}};

{{#imports}}import {{import}};
{{/imports}}

import io.swagger.annotations.*;
import com.google.gson.annotations.SerializedName;
{{#models}}

{{#model}}{{#description}}
/**
 * {{description}}
 **/{{/description}}
 {{#isEnum}}{{>enumOuterClass}}{{/isEnum}}
{{^isEnum}}{{>pojo}}{{/isEnum}}
{{/model}}
{{/models}}
